# Pandas

## Ler Arquivos CSV

In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv(r'C:\Arquivos\testePandas.csv')  # importante usar o r no inicio, para correta interpretação do \
print(df1)
print(df1.shape) # propriedade shape informa o número de linhas e colunas no dataframe
print(df1.columns) # columns informa nomes das colunas (variáveis) e tipo do dataframe
print(df1.dtypes) # dtypes informa o tipo de cada coluna do dataframe

    ano campeao  pontos
0  2000       A      76
1  2001       B      77
2  2002       D      79
3  2003       C      69
4  2004       B      71
5  2005       C      72
(6, 3)
Index(['ano', 'campeao', 'pontos'], dtype='object')
ano         int64
campeao    object
pontos      int64
dtype: object

Obs.: *The leading r denotes a python raw string. It treats \ as a literal character. No need to escape it.*

In [18]:
# Ver apenas as colunas campeao e pontos
print(df1.loc[:,["campeao","pontos"]])

# Ver número máximo de pontos (valor mais alto na coluna pontos)
print(df1.loc[:,"pontos"].max())
# Ou simplesmente:
print(df1.pontos.max())

  campeao  pontos
0       A      76
1       B      77
2       D      79
3       C      69
4       B      71
5       C      72
79
79

AttributeError: 'list' object has no attribute 'max'

## Ler Arquivos do Excel

In [11]:
# Instalar biblioteca para acesso a dados do Excel
!pip3 install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (1.2.0)

In [17]:
# Ler arquivo do Excel em um Dataframe
import pandas as pd
df1 = pd.read_excel(r'C:\Arquivos\testePandas.xlsx')
print(df1)

    Ano Campeão  Pontos
0  2000       A      73
1  2001       B      77
2  2002       D      72
3  2003       C      76
4  2004       A      80
5  2005       D      77
6  2006       A      75
7  2007       B      78
8  2008       B      77
9  2009       C      73

Criar um objeto Series

In [18]:
import pandas as pd

lista = ['Morango','Maçã','Uva','Pêssego','Carambola']
s1 = pd.Series(lista)

print(lista)
print(s1)

['Morango', 'Maçã', 'Uva', 'Pêssego', 'Carambola']
0      Morango
1         Maçã
2          Uva
3      Pêssego
4    Carambola
dtype: object

## Estruturas de Dados no Pandas

A principal estrutura de dados no Pandas é o Data Frame. Trata-se de uma tabela bidimensional de dados na qual as linhas tipicamente representam casos (como registros em um banco de dados relacional), e as colunas representam variáveis.

No pandas também existe a estrutura de dados unidimensional chamada de Series (série), que pode representar, por exemplo, uma coluna de um dataframe.

In [ ]:
# Visualizar as 5 primeiras linhas de um dataframe de nome df com o método head():
df.head()

# Para ver o dataframe completo, basta executar:
df

# Para ver o tipo do objeto criado: função type()
type(df)

# Podemos obter informações sobre os dados em si, conferindo os nomes das colunas e seus respectivos tipos de dados com:
df.columns

##############################################################################
#    É possível fatiar o dataframe e ver partes específicas dos dados, como  #
#    por exemplo colunas em particular, com os métodos .loc() e .iloc()      #
##############################################################################

# Método .loc()
# Recebe dois parâmetros separados por uma vírgula: nomes de linha e coluna respectivamente
df.loc[:,'Coluna'] # Todos os dados da Coluna
df.loc[:,['Coluna1','Coluna2','Coluna3']] # Todos os dados das colunas 1, 2 e 3
df.loc[:9,['Coluna1','Coluna2','Coluna3']] # As 10 primeiras linhas das colunas 1, 2 e 3
df.loc[10:20] # Faixa de linhas para todas as colunas


# Método iloc()
# Usa índices numéricos para indicar linhas e colunas, em vez de nomes
df.iloc[:,0] # Todos os dados da primeira coluna (índice numérico)
df.iloc[:4]
df.iloc[:4,1:5] # 5 primeiras linhas das colunas de 1 a 5 - 1 (5 não é exibida)
df.iloc[[-5:]] # Os últimos 5 elementos no dataset
df.iloc[[2,5,9],0] # Apenas linhas selecionadas para a primeira coluna (passando uma lista de linhas)

# Selecionar a primeira linha inteira de um df:
df.iloc[0] # foi especificada somente a linha

# Ver os tipos de dados de cada coluna do dataframe: propriedade dtypes
df.dtypes

# Listar valores sem repetição em uma coluna: método unique()
df.NomeColuna.unique()

In [41]:
# teste com dataset de elementos químicos
# Ler arquivo do Excel em um Dataframe
import pandas as pd

#dfq = pd.read_excel(r'C:\Arquivos\testeElementos.xlsx')
#print(dfq)

# Opcionalmente, podemos trabalhar com arquivos .csv:
dfq = pd.read_csv(r'C:\Arquivos\testeElementosCSV.csv', engine='python') # engine='python' para evitar erro de utf-8
print(dfq)

       Z      Elemento Simbolo                          A  Massa Atômica  \
0      1    Hidrogênio       H                    '1,2,3'          1.008
1      2         Hélio      He                      "3,4"          4.003
2      3         Lítio      Li                      "6,7"          6.940
3      4       Berílio      Be                          9          9.012
4      5          Boro       B                    "10,11"         10.810
5      6       Carbono       C                 "12,13,14"         12.011
6      7    Nitrogênio       N                    "14,15"         14.007
7      8      Oxigênio       O                 "16,17,18"         15.999
8      9         Flúor       F                       "19"         18.998
9     10        Neônio      Ne                 "20,21,22"         20.180
10    11         Sódio      Na                         23         22.990
11    12      Magnésio      Mg                 "24,25,26"         24.305
12    13      Alumínio      Al                         27         26.982
13    14       Silício      Si                 "28,29,30"         28.085
14    15       Fósforo       P                         31         30.974
15    16       Enxofre       S              "32,33,34,36"         32.060
16    17         Cloro      Cl                    "35,37"         35.450
17    18       Argônio      Ar                 "36,38,40"         39.950
18    19      Potássio       K                 "39,40,41"         39.098
19    20        Cálcio      Ca        "40,42,43,44,46,48"         40.078
20    21      Escândio      Sc                         45         44.956
21    22       Titânio      Ti           "46,47,48,49,50"         47.867
22    23       Vanádio       V                    "50,51"         50.942
23    24         Cromo      Cr              "50,52,53,54"         51.996
24    25      Manganês      Mn                         55         54.938
25    26         Ferro      Fe              "54,56,57,58"         55.845
26    27       Cobalto      Co                         59         58.933
27    28        Níquel      Ni           "58,60,61,62,64"         58.693
28    29         Cobre      Cu                    "63,65"         63.546
29    30         Zinco      Zn           "64,66,67,68,70"         65.380
..   ...           ...     ...                        ...            ...
88    89       Actínio      Ac                        227        227.000
89    90         Tório      Th                  "230,232"        232.038
90    91  Protoactínio      Pa                        231        231.036
91    92        Urânio       U      "233,234,235,236,238"        238.029
92    93       Netúnio      Np                  "236,237"        237.000
93    94      Plutônio      Pu  "238,239,240,241,242,244"        244.000
94    95      Amerício      Am                  "241,243"        243.000
95    96         Cúrio      Cm  "243,244,245,246,247,248"        247.000
96    97     Berquélio      Bk                  "247,249"        247.000
97    98    Califórnio      Cf          "249,250,251,252"        251.000
98    99    Einsteínio      Es                        252        252.000
99   100        Férmio      Fm                        257        257.000
100  101    Mendelévio      Md                  "258,260"        258.000
101  102       Nobélio      No                        259        259.000
102  103     Laurêncio      Lr                        262        262.000
103  104   Ruterfórdio      Rf                        267        267.000
104  105        Dúbnio      Db                        268        268.000
105  106     Seabórgio      Sg                        271        269.000
106  107        Bóhrio      Bh                        272        270.000
107  108        Hássio      Hs                        270        269.000
108  109     Meitnério      Mt                        276        278.000
109  110    Darmstádio      Ds                        281        281.000
110  111    Roentgênio      Rg                        280        280.000
111  112    Copernício      Cn                        285        285.000
112  113       Nihônio      Nh                        284        286.000
113  114      Fleróvio      Fl                        289        289.000
114  115      Moscóvio      Mc                        288        289.000
115  116    Livermório      Lv                        293        293.000
116  117     Tenessine      Ts                        292        294.000
117  118     Oganesson      Og                        294        294.000

     AnoDescoberta                                        Descobridor  \
0           1766.0                                    Henry Cavendish
1           1895.0                                 Sir William Ramsay
2           1817.0                             Johan August Arfvedson
3           1797.0                           Nicholas Louis Vauquelin
4           1808.0  "Louis-Josef Gay-Lussac,Louis-Jacques Thénard,...
5              NaN                                                NaN
6           1772.0                                  Daniel Rutherford
7           1774.0            "Joseph Priestley,Carl Wilhelm Scheele"
8           1886.0                                      Henri Moissan
9           1898.0                "Sir William Ramsay,Morris Travers"
10          1807.0                                       Humphry Davy
11          1755.0                                       Joseph Black
12          1825.0                                       Hans Oersted
13          1824.0                               Jöns Jacob Berzelius
14          1669.0                                      Hennig Brandt
15             NaN                                                NaN
16          1774.0                               Carl Wilhelm Scheele
17          1894.0               "Lord Rayleigh,Sir William Ramsay"
18          1807.0                                       Humphry Davy
19          1808.0                                       Humphry Davy
20          1879.0                               Lars Frederik Nilson
21          1791.0                                     William Gregor
22          1801.0                              Andrés Manuel del Rio
23          1798.0                           Nicholas Louis Vauquelin
24          1774.0                                Johan Gottlieb Gahn
25             NaN                                                NaN
26          1739.0                                       Georg Brandt
27          1751.0                             Axel Fredrik Cronstedt
28             NaN                                                NaN
29          1746.0                                   Andreas Marggraf
..             ...                                                ...
88          1899.0                                    Andrew Debierne
89          1829.0                               Jöns Jacob Berzelius
90          1913.0                      "Kasimir Fajans,Otto Göhring"
91          1789.0                           Martin Heinrich Klaproth
92          1940.0                    "Edwin McMillan,Philip Abelson"
93          1940.0  "Glenn T. Seaborg,Joseph W. Kennedy,Edward M. ...
94          1944.0  "Glenn T. Seaborg,Ralph A. James,Leon O. Morga...
95          1944.0   "Glenn T. Seaborg,Ralph A. James,Albert Ghiorso"
96          1949.0  "Stanley G. Thompson,Glenn T. Seaborg,Kenneth ...
97          1950.0  "Stanley G. Thompson,Glenn T. Seaborg,Kenneth ...
98          1952.0                                     Albert Ghiorso
99          1953.0                                     Albert Ghiorso
100         1955.0  "Stanley G. Thompson,Glenn T. Seaborg,Bernard ...
101         1963.0  "Albert Ghiorso,Glenn T. Seaborg,Torbørn Sikke...
102         1965.0  "Albert Ghiorso,Torbjørn Sikkeland,Almon E. La...
103         1964.0                     "Georgy Flerov,Albert Ghiorso"
104         1968.0                                                NaN
105         1974.0                                     Albert Ghiorso
106         1981.0           "Peter Armbruster, Gottfried Münzenberg"
107         1984.0           "Peter Armbruster, Gottfried Münzenberg"
108         1982.0            "Peter Armbruster,Gottfried Münzenberg"
109         1994.0  "Sigurd Hofmann,Peter Armbruster,Gottfried Mün...
110         1994.0            "Peter Armbruster,Gottfried Münzenberg"
111         1996.0                      "Sigurd Hofmann,Victor Ninov"
112         2004.0                                      K?suke Morita
113         1999.0                                    Yuri Oganessian
114         2010.0                                                NaN
115         2000.0                                                NaN
116         2010.0                                                NaN
117         2006.0                                                NaN

              CAS  ChemSpider ID  Densidade  ...  PontoEbulicao  Período  \
0        133-74-0      4515072.0   0.000082  ...         20.271        1
1       7440-59-7        22423.0   0.000164  ...          4.222        1
2       7439-93-2      2293625.0   0.534000  ...       1615.000        2
3       7440-41-7      4573986.0   1.850000  ...       2741.000        2
4       7440-42-8      4575371.0   2.340000  ...       4273.000        2
5       7440-44-0      4575370.0   2.200000  ...       3825.000        2
6       7727-37-9     20473555.0   0.001145  ...         77.355        2
7       7782-44-7       140526.0   0.001308  ...         90.188        2
8       7782-41-4      4514530.0   0.001553  ...         85.040        2
9      7440-01-09        22377.0   0.000825  ...         27.104        2
10      7440-23-5      4514534.0   0.970000  ...       1156.090        3
11      7439-95-4      4575328.0   1.740000  ...       1363.000        3
12      7429-90-5      4514248.0   2.700000  ...       2792.000        3
13      7440-21-3      4574465.0   2.329600  ...       3538.000        3
14      7723-14-0      4575369.0   1.823000  ...        553.700        3
15      7704-34-9      4515054.0   2.070000  ...        717.760        3
16      7782-50-5      4514529.0   0.002898  ...        239.110        3
17      7440-37-1        22407.0   0.001633  ...         87.302        3
18     7440-09-07      4575326.0   0.890000  ...       1032.000        4
19      7440-70-2      4573905.0   1.540000  ...       1757.000        4
20      7440-20-2        22392.0   2.990000  ...       3109.000        4
21      7440-32-6        22402.0   4.506000  ...       3560.000        4
22      7440-62-2        22426.0   6.000000  ...       3680.000        4
23      7440-47-3        22412.0   7.150000  ...       2944.000        4
24      7439-96-5        22372.0   7.300000  ...       2334.000        4
25      7439-89-6        22368.0   7.870000  ...       3134.000        4
26      7440-48-4        94547.0   8.860000  ...       3200.000        4
27      7440-02-0          910.0   8.900000  ...       3186.000        4
28      7440-50-8        22414.0   8.960000  ...       2833.000        4
29      7440-66-6        22430.0   7.134000  ...       1180.000        4
..            ...            ...        ...  ...            ...      ...
88      7440-34-8        22404.0  10.000000  ...       3473.000        7
89      7440-29-1        22399.0  11.700000  ...       5058.000        7
90      7440-13-3        22387.0  15.400000  ...       4273.000        7
91      7440-61-1        22425.0  19.100000  ...       4404.000        7
92      7439-99-8        22375.0  20.200000  ...       4175.000        7
93     7440-07-05        22382.0  19.700000  ...       3501.000        7
94      7440-35-9        22405.0  12.000000  ...       2284.000        7
95      7440-51-9        22415.0  13.510000  ...       3400.000        7
96      7440-40-6        22409.0  14.780000  ...            NaN        7
97      7440-71-3        22433.0  15.100000  ...            NaN        7
98      7429-92-7        22356.0        NaN  ...            NaN        7
99      7440-72-4        22434.0        NaN  ...            NaN        7
100     7440-11-1        22385.0        NaN  ...            NaN        7
101    10028-14-5        23207.0        NaN  ...            NaN        7
102    22537-19-5        28934.0        NaN  ...            NaN        7
103    53850-36-5     11201447.0        NaN  ...            NaN        7
104    53850-35-4            NaN        NaN  ...            NaN        7
105    54038-81-2            NaN        NaN  ...            NaN        7
106    54037-14-8            NaN        NaN  ...            NaN        7
107    54037-57-9            NaN        NaN  ...            NaN        7
108  -11498-01-06            NaN        NaN  ...            NaN        7
109    54083-77-1            NaN        NaN  ...            NaN        7
110    54386-24-2            NaN        NaN  ...            NaN        7
111    54084-26-3            NaN        NaN  ...            NaN        7
112    54084-70-7            NaN        NaN  ...            NaN        7
113    54085-16-4            NaN        NaN  ...            NaN        7
114    54085-64-2            NaN        NaN  ...            NaN        7
115    54100-71-9            NaN        NaN  ...            NaN        7
116    87658-56-8            NaN        NaN  ...            NaN        7
117    54144-19-3            NaN        NaN  ...            NaN        7

          Grupo Bloco EstadoFisico Raio Atômico (A)  Eletronegatividade  \
0             1     s          Gás             1.10                2.20
1            18     s          Gás             1.40                 NaN
2             1     s       Sólido             1.82                0.98
3             2     s       Sólido             1.53                1.57
4            13     p       Sólido             1.92                2.04
5            14     p       Sólido             1.70                2.55
6            15     p          Gás             1.55                3.04
7            16     p          Gás             1.52                3.44
8            17     p          Gás             1.47                3.98
9            18     p          Gás             1.54                 NaN
10            1     s       Sólido             2.27                0.93
11            2     s       Sólido             1.73                1.31
12           13     p       Sólido             1.84                1.61
13           14     p       Sólido             2.10                1.90
14           15     p       Sólido             1.80                2.19
15           16     p       Sólido             1.80                2.58
16           17     p          Gás             1.75                3.16
17           18     p          Gás             1.88                 NaN
18            1     s       Sólido             2.75                0.82
19            2     s       Sólido             2.31                1.00
20            3     d       Sólido             2.15                1.36
21            4     d       Sólido             2.11                1.54
22            5     d       Sólido             2.07                1.63
23            6     d       Sólido             2.06                1.66
24            7     d       Sólido             2.05                1.55
25            8     d       Sólido             2.04                1.83
26            9     d       Sólido             2.00                1.88
27           10     d       Sólido             1.97                1.91
28           11     d       Sólido             1.96                1.90
29           12     d       Sólido             2.01                1.65
..          ...   ...          ...              ...                 ...
88   Actinídeos     d       Sólido             2.47                1.10
89   Actinídeos     f       Sólido             2.45                1.30
90   Actinídeos     f       Sólido             2.43                1.50
91   Actinídeos     f       Sólido             2.41                1.70
92   Actinídeos     f       Sólido             2.39                1.30
93   Actinídeos     f       Sólido             2.43                1.30
94   Actinídeos     f       Sólido             2.44                 NaN
95   Actinídeos     f       Sólido             2.45                 NaN
96   Actinídeos     f       Sólido             2.44                 NaN
97   Actinídeos     f       Sólido             2.45                 NaN
98   Actinídeos     f       Sólido             2.45                 NaN
99   Actinídeos     f       Sólido             2.45                 NaN
100  Actinídeos     f       Sólido             2.46                 NaN
101  Actinídeos     f       Sólido             2.46                 NaN
102  Actinídeos     f       Sólido             2.46                 NaN
103           4     d       Sólido              NaN                 NaN
104           5     d       Sólido              NaN                 NaN
105           6     d       Sólido              NaN                 NaN
106           7     d       Sólido              NaN                 NaN
107           8     d       Sólido              NaN                 NaN
108           9     d       Sólido              NaN                 NaN
109          10     d       Sólido              NaN                 NaN
110          11     d       Sólido              NaN                 NaN
111          12     d       Sólido              NaN                 NaN
112          13     p       Sólido              NaN                 NaN
113          14     p       Sólido              NaN                 NaN
114          15     p       Sólido              NaN                 NaN
115          16     p       Sólido              NaN                 NaN
116          17     p       Sólido              NaN                 NaN
117          18     p       Sólido              NaN                 NaN

             EstadosOxidação NumIsotoposEstaveis  Energia_Ionização (eV)
0                     "1,-1"                   2                  13.598
1                        NaN                   2                  24.587
2                          1                   2                   5.392
3                          2                   1                   9.323
4                          3                   2                   8.298
5    "4,3,2,1,0,-1,-2,-3,-4"                   2                  11.260
6               "5,4,3,2,-3"                   2                  14.534
7                    "-1,-2"                   3                  13.618
8                         -1                   1                  14.423
9                        NaN                   3                  21.565
10                         1                   1                   5.139
11                         2                   3                   7.646
12                         3                   1                   5.986
13                    "4,-4"                   3                   8.152
14                  "5,3,-3"                   1                  10.487
15                "6,4,2,-2"                   4                  10.360
16              "7,5,3,1,-1"                   2                  12.968
17                       NaN                   3                  15.760
18                         1                   2                   4.341
19                         2                   3                   6.113
20                         3                   1                   6.561
21                     "4,3"                   5                   6.828
22               "5,4,3,2,0"                   1                   6.746
23                 "6,3,2,0"                   3                   6.767
24          "7,6,4,3,2,0,-1"                   1                   7.434
25              "6,3,2,0,-2"                   4                   7.902
26                "3,2,0,-1"                   1                   7.881
27                   "3,2,0"                   5                   7.640

In [6]:
# Listar as colunas presentes no DataFrame de Elementos Químicos

dfq.columns

Index(['Z', 'Elemento', 'Simbolo', 'A', 'Massa Atômica', 'AnoDescoberta',
       'Descobridor', 'CAS', 'ChemSpider ID', 'Densidade', 'PontoFusao',
       'PontoEbulicao', 'Período', 'Grupo', 'Bloco', 'EstadoFisico',
       'Raio Atômico (A)', 'Eletronegatividade', 'EstadosOxidação',
       'NumIsotoposEstaveis', 'Energia_Ionização (eV)'],
      dtype='object')

In [3]:
# Listar símbolos e massas atômicas

dfq.loc[:,["Simbolo","A","Massa Atômica"]]

    Simbolo                          A  Massa Atômica
0         H                    "1,2,3"        1008.00
1        He                      "3,4"        4003.00
2        Li                      "6,7"           6.94
3        Be                          9        9012.00
4         B                    "10,11"          10.81
5         C                 "12,13,14"       12011.00
6         N                    "14,15"       14007.00
7         O                 "16,17,18"       15999.00
8         F                       "19"       18998.00
9        Ne                 "20,21,22"       20180.00
10       Na                         23       22990.00
11       Mg                 "24,25,26"       24305.00
12       Al                         27       26982.00
13       Si                 "28,29,30"       28085.00
14        P                         31       30974.00
15        S              "32,33,34,36"          32.06
16       Cl                    "35,37"          35.45
17       Ar                 "36,38,40"          39.95
18        K                 "39,40,41"       39098.00
19       Ca        "40,42,43,44,46,48"       40078.00
20       Sc                         45       44956.00
21       Ti           "46,47,48,49,50"       47867.00
22        V                    "50,51"       50942.00
23       Cr              "50,52,53,54"       51996.00
24       Mn                         55       54938.00
25       Fe              "54,56,57,58"       55845.00
26       Co                         59       58933.00
27       Ni           "58,60,61,62,64"       58693.00
28       Cu                    "63,65"       63546.00
29       Zn           "64,66,67,68,70"          65.38
..      ...                        ...            ...
93       Pu  "238,239,240,241,242,244"         244.00
94       Am                  "241,243"         243.00
95       Cm  "243,244,245,246,247,248"         247.00
96       Bk                  "247,249"         247.00
97       Cf          "249,250,251,252"         251.00
98       Es                        252         252.00
99       Fm                        257         257.00
100      Md                  "258,260"         258.00
101      No                        259         259.00
102      Lr                        262         262.00
103      Rf                        267         267.00
104      Db                        268         268.00
105      Sg                        271         269.00
106      Bh                        272         270.00
107      Hs                        270         269.00
108      Mt                        276         278.00
109      Ds                        281         281.00
110      Rg                        280         280.00
111      Cn                        285         285.00
112      Nh                        284         286.00
113      Fl                        289         289.00
114      Mc                        288         289.00
115      Lv                        293         293.00
116      Ts                        292         294.00
117      Og                        294         294.00
118     NaN                        NaN            NaN
119     NaN                        NaN            NaN
120     NaN                        NaN            NaN
121     NaN                        NaN            NaN
122     NaN                        NaN            NaN

[123 rows x 3 columns]

## Alterar índices

Podemos alterar a coluna que será usada como índice em um dataframe usando o método set_index(). Por exemplo, para tornar a coluna Simbolo o índice do DataFrame dfq, fazemos o seguinte:

In [7]:
dfq.set_index('Simbolo')

dfq.loc[:,'Elemento'] # Todos os dados da coluna Elemento, indexados pelo símbolo

0        Hidrogênio
1             Hélio
2             Lítio
3           Berílio
4              Boro
5           Carbono
6        Nitrogênio
7          Oxigênio
8             Flúor
9            Neônio
10            Sódio
11         Magnésio
12         Alumínio
13          Silício
14          Fósforo
15          Enxofre
16            Cloro
17          Argônio
18         Potássio
19           Cálcio
20         Escândio
21          Titânio
22          Vanádio
23            Cromo
24         Manganês
25            Ferro
26          Cobalto
27           Níquel
28            Cobre
29            Zinco
           ...
88          Actínio
89            Tório
90     Protoactínio
91           Urânio
92          Netúnio
93         Plutônio
94         Amerício
95            Cúrio
96        Berquélio
97       Califórnio
98       Einsteínio
99           Férmio
100      Mendelévio
101         Nobélio
102       Laurêncio
103     Ruterfórdio
104          Dúbnio
105       Seabórgio
106          Bóhrio
107          Hássio
108       Meitnério
109      Darmstádio
110      Roentgênio
111      Copernício
112         Nihônio
113        Fleróvio
114        Moscóvio
115      Livermório
116       Tenessine
117       Oganesson
Name: Elemento, Length: 118, dtype: object

## Condições

Podemos verificar se os registros possuem um valor específico em uma coluna usando o operador de igualdade ==. Por exemplo, podemos consultar quais elementos químicos possuem exatamente 2 isótopos estáveis com a declaração a seguir, que retorna valores True ou False baseados nos valores encontrados:

In [14]:
print(dfq.NumIsotoposEstaveis == 2)

# E então podemos consultar quais são os elementos específicos usando essa condição combinada com o método loc():
dfq.loc[dfq.NumIsotoposEstaveis == 2,['Elemento','NumIsotoposEstaveis']]

0       True
1       True
2       True
3      False
4       True
5       True
6       True
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16      True
17     False
18      True
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28      True
29     False
       ...
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
Name: NumIsotoposEstaveis, Length: 118, dtype: bool

      Elemento  NumIsotoposEstaveis
0   Hidrogênio                    2
1        Hélio                    2
2        Lítio                    2
4         Boro                    2
5      Carbono                    2
6   Nitrogênio                    2
16       Cloro                    2
18    Potássio                    2
28       Cobre                    2
30       Gálio                    2
34       Bromo                    2
46       Prata                    2
50   Antimônio                    2
73  Tungstênio                    2
76      Irídio                    2
80       Tálio                    2

In [16]:
# podemos combinar expressões condicionais, por exemplo trazendo apenas os elementos que tenham 2 isótopos
# estáveis e que sejam gases:
dfq.loc[(dfq.NumIsotoposEstaveis == 2) & (dfq.EstadoFisico == 'Gás'),'Simbolo']

0      H
1     He
6      N
16    Cl
Name: Simbolo, dtype: object

In [32]:
# Elementos que são sólidos e cuja densidade é maior do que 10 g/cm3
import pandas as pd

dfq = pd.read_excel(r'C:\Arquivos\testeElementos.xlsx')

dfq.loc[(dfq.EstadoFisico == 'Sólido') & (dfq.Densidade >= 10),['Simbolo','Densidade']]

   Simbolo  Densidade
41      Mo    10.2000
42      Tc    11.0000
43      Ru    12.1000
44      Rh    12.4000
45      Pd    12.0000
46      Ag    10.5000
71      Hf    13.3000
72      Ta    16.4000
73       W    19.3000
74      Re    20.8000
75      Os    22.5872
76      Ir    22.5622
77      Pt    21.5000
78      Au    19.3000
80      Tl    11.8000
81      Pb    11.3000
88      Ac    10.0000
89      Th    11.7000
90      Pa    15.4000
91       U    19.1000
92      Np    20.2000
93      Pu    19.7000
94      Am    12.0000
95      Cm    13.5100
96      Bk    14.7800
97      Cf    15.1000

## Método isin()

O método seletor condicional isin() permite selecionar dados cujo valor esteva dentro de uma lista de valores passada. No exemplo a seguir vamos usar o seletor isin para retornar todos os dados dos elementos Cobre, Alumínio, Ouro e Prata (sando os símbolos respectivos)

In [29]:
import pandas as pd

dfq = pd.read_excel(r'C:\Arquivos\testeElementos.xlsx')


# Retornar todos os dados dos elementos Cobre, Alumínio, Ouro e Prata (sando os símbolos respectivos)

dfq.loc[dfq.Simbolo.isin(['Cu','Al','Ag','Au'])]

# Ou ainda apenas alguas colunas determinadas. Descomente a linha a seguir para testar:
dfq.loc[dfq.Simbolo.isin(['Cu','Al','Ag','Au']),['Elemento','Z','Simbolo','Massa Atômica','CAS']]

    Elemento   Z Simbolo  Massa Atômica        CAS
12  Alumínio  13      Al        26982.0  7429-90-5
28     Cobre  29      Cu        63546.0  7440-50-8
46     Prata  47      Ag       107868.0  7440-22-4
78      Ouro  79      Au       196967.0  7440-57-5

## Métodos isnull() e notnull()

Permitem verificar se um valor está vazio (nulo / NaN) ou não.

No exemplo a seguir vamos verificar quais elementos NÃO tem valor de densidade determinada. Os valores inexistentes são retornados como NaN (Not a Number).

In [35]:
# Elementos que não possuem densidade determinada
import pandas as pd

dfq = pd.read_excel(r'C:\Arquivos\testeElementos.xlsx')

dfq.loc[dfq.Densidade.isnull(),['Simbolo','Densidade']]

    Simbolo  Densidade
84       At        NaN
86       Fr        NaN
98       Es        NaN
99       Fm        NaN
100      Md        NaN
101      No        NaN
102      Lr        NaN
103      Rf        NaN
104      Db        NaN
105      Sg        NaN
106      Bh        NaN
107      Hs        NaN
108      Mt        NaN
109      Ds        NaN
110      Rg        NaN
111      Cn        NaN
112      Nh        NaN
113      Fl        NaN
114      Mc        NaN
115      Lv        NaN
116      Ts        NaN
117      Og        NaN

In [140]:
# ESSE TEM ERRO, PESQUISAR

# Muitos elementos possuem mais de um número de massa (A), dependendo da quantidade de isótopos existentes.
# Vamos retornar os elementos cujo número de massa é igual a 14

import pandas as pd

dfq = pd.read_excel(r'C:\Arquivos\testeElementos.xlsx')

# Transformar string retornada na coluna A em uma lista de valores:
dfq['A'] = dfq['A'].apply(lambda x: str(x).split(','))
dfq['A'] = dfq['A'].apply(lambda x: str(x).replace('"', ""))

#dfq['A'] = dfq['A'].apply(list(map(int, dfq['A'])))


print(dfq['A'])

#dfq.loc[dfq.A.isin(['9']),['Elemento','Z','Simbolo','Massa Atômica']]

#dfq.loc[(dfq.A == '9'),['Elemento','Z','Simbolo','Massa Atômica']]

0                                 ['1', '2', '3']
1                                      ['3', '4']
2                                      ['6', '7']
3                                           ['9']
4                                    ['10', '11']
5                              ['12', '13', '14']
6                                    ['14', '15']
7                              ['16', '17', '18']
8                                          ['19']
9                              ['20', '21', '22']
10                                         ['23']
11                             ['24', '25', '26']
12                                         ['27']
13                             ['28', '29', '30']
14                                         ['31']
15                       ['32', '33', '34', '36']
16                                   ['35', '37']
17                             ['36', '38', '40']
18                             ['39', '40', '41']
19           ['40', '42', '43', '44', '46', '48']
20                                         ['45']
21                 ['46', '47', '48', '49', '50']
22                                   ['50', '51']
23                       ['50', '52', '53', '54']
24                                         ['55']
25                       ['54', '56', '57', '58']
26                                         ['59']
27                 ['58', '60', '61', '62', '64']
28                                   ['63', '65']
29                 ['64', '66', '67', '68', '70']
                          ...
88                                        ['227']
89                                 ['230', '232']
90                                        ['231']
91            ['233', '234', '235', '236', '238']
92                                 ['236', '237']
93     ['238', '239', '240', '241', '242', '244']
94                                 ['241', '243']
95     ['243', '244', '245', '246', '247', '248']
96                                 ['247', '249']
97                   ['249', '250', '251', '252']
98                                        ['252']
99                                        ['257']
100                                ['258', '260']
101                                       ['259']
102                                       ['262']
103                                       ['267']
104                                       ['268']
105                                       ['271']
106                                       ['272']
107                                       ['270']
108                                       ['276']
109                                       ['281']
110                                       ['280']
111                                       ['285']
112                                       ['284']
113                                       ['289']
114                                       ['288']
115                                       ['293']
116                                       ['292']
117                                       ['294']
Name: A, Length: 118, dtype: object

KeyError: False