### Biblioteca Pandas

In [1]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/9e/71/756a1be6bee0209d8c0d8c5e3b9fc72c00373f384a4017095ec404aec3ad/pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\testes\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\testes\lib\site-packages (from pandas) (2022.7)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ----------------------- -------------- 215.0/341.8 kB 4.4 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 5.3 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Obtaining dependency information for numpy>=1.21.0 from https://files.pythonhosted.org/packages/72/b2/02770e60c4e2f7e158d923ab0dea4e9f146a2dbf267fec6d8dc61d475689/numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\testes\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   -- ------------------------------------- 0.6/10.6 MB 12.4 MB/s eta 0:00:01
   ----- ---------------------------------- 1.3/10.6 MB 12.0 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/10.6 MB 11.9 MB/s eta 0:00:01
   --------- ------------------------------ 2.6/10.6 MB 11.9 MB/s eta 0:00:01
   ----------- ---------------------------- 3.1/10.6 MB 11.8 MB/s eta 0:00:01
   -------------- ------------------------- 3.7/10.6 MB 11.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.3/10.6 MB 11.4 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.6 MB 11.4 MB/s eta 0:00:01
   --------------------- ------------------ 5.8/10.6 MB 11.8 MB/s eta 0:00:01
   ----------------------- ---------------- 6.3/10.6 MB 11.8 MB/s eta 0:00:01
   ------------------------- -------------- 6.8/10.6 MB 11.8 MB/s eta 0:00:01
   --------------------------- ------------ 7.4/10.6 MB 11.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 11.8 MB/s eta 0:00:01
   -------------------------------- ------- 8.7/10.6 MB 11.5 MB/s eta 0:00:01
   ----------------------------------- ---- 9.4/10.6 MB 11.8 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.6 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 10.1 MB/s eta 0:00:00
Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   - -------------------------------------- 0.7/15.5 MB 15.8 MB/s eta 0:00:01
   --- ------------------------------------ 1.3/15.5 MB 16.4 MB/s eta 0:00:01
   ---- ----------------------------------- 1.8/15.5 MB 13.1 MB/s eta 0:00:02
   ------ --------------------------------- 2.4/15.5 MB 14.0 MB/s eta 0:00:01
   ------- -------------------------------- 2.9/15.5 MB 13.3 MB/s eta 0:00:01
   -------- ------------------------------- 3.4/15.5 MB 12.9 MB/s eta 0:00:01
   ---------- ----------------------------- 4.0/15.5 MB 12.9 MB/s eta 0:00:01
   ----------- ---------------------------- 4.6/15.5 MB 12.3 MB/s eta 0:00:01
   ------------- -------------------------- 5.3/15.5 MB 12.6 MB/s eta 0:00:01
   --------------- ------------------------ 6.0/15.5 MB 12.4 MB/s eta 0:00:01
   ----------------- ---------------------- 6.8/15.5 MB 12.0 MB/s eta 0:00:01
   ------------------ --------------------- 7.3/15.5 MB 12.0 MB/s eta 0:00:01
   -------------------- ------------------- 7.8/15.5 MB 12.2 MB/s eta 0:00:01
   --------------------- ------------------ 8.4/15.5 MB 12.0 MB/s eta 0:00:01
   ----------------------- ---------------- 8.9/15.5 MB 12.2 MB/s eta 0:00:01
   ------------------------ --------------- 9.7/15.5 MB 12.1 MB/s eta 0:00:01
   -------------------------- ------------- 10.4/15.5 MB 11.9 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.5 MB 11.7 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.5 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.5 MB 11.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.7/15.5 MB 11.7 MB/s eta 0:00:01
   ---------------------------------- ----- 13.3/15.5 MB 11.7 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.5 MB 11.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.3/15.5 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 14.8/15.5 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.5 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 9.5 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.0.3 tzdata-2023.3

In [3]:
import pandas as pd

In [4]:
dados = pd.Series([12,34,21,-9,0,7])
print(dados)

0    12
1    34
2    21
3    -9
4     0
5     7
dtype: int64

In [5]:
print(dados.values)
print(dados.index)

[12 34 21 -9  0  7]
RangeIndex(start=0, stop=6, step=1)

In [6]:
dados = pd.Series([12,34,21,-9,0,7], index=['a','b','c','d','e','f'])
print(dados)

a    12
b    34
c    21
d    -9
e     0
f     7
dtype: int64

In [10]:
print(dados['c'])
print(dados[['b','e']])

21
b    34
e     0
dtype: int64

In [12]:
dicionario={'Brasil':5, 'EUA':0, 'Inglaterra':1, 'Argentina':3}
dados = pd.Series(dicionario)
print(dados)

Brasil        5
EUA           0
Inglaterra    1
Argentina     3
dtype: int64

In [30]:
dicionario={'País':['Brasil','Uruguai','Inglaterra','Espanha','Holanda','Itália','Argentina'],
           'Ano':[1958,1930,1966,2010,None,1934,1978],
           'Titulos':[5,2,1,1,0,4,3]
           }
dados = pd.DataFrame(dicionario)
print(dados)

         País     Ano  Titulos
0      Brasil  1958.0        5
1     Uruguai  1930.0        2
2  Inglaterra  1966.0        1
3     Espanha  2010.0        1
4     Holanda     NaN        0
5      Itália  1934.0        4
6   Argentina  1978.0        3

In [16]:
print(dados.head())

         País     Ano  Titulos
0      Brasil  1958.0        5
1     Uruguai  1930.0        2
2  Inglaterra  1966.0        1
3     Espanha  2010.0        1
4     Holanda     NaN        0

In [17]:
dados = pd.DataFrame(dados, columns=['Titulos','País','Ano'])
print(dados)

   Titulos        País     Ano
0        5      Brasil  1958.0
1        2     Uruguai  1930.0
2        1  Inglaterra  1966.0
3        1     Espanha  2010.0
4        0     Holanda     NaN
5        4      Itália  1934.0
6        3   Argentina  1978.0

In [18]:
print(dados['País'])
print(dados.Ano)

0        Brasil
1       Uruguai
2    Inglaterra
3       Espanha
4       Holanda
5        Itália
6     Argentina
Name: País, dtype: object
0    1958.0
1    1930.0
2    1966.0
3    2010.0
4       NaN
5    1934.0
6    1978.0
Name: Ano, dtype: float64

In [20]:
dados['Participações'] = 0
print(dados)

   Titulos        País     Ano  Participações
0        5      Brasil  1958.0              0
1        2     Uruguai  1930.0              0
2        1  Inglaterra  1966.0              0
3        1     Espanha  2010.0              0
4        0     Holanda     NaN              0
5        4      Itália  1934.0              0
6        3   Argentina  1978.0              0

In [22]:
part = [15,12,11,10,10,9,11]
dados['Participações'] = part
print(dados)

   Titulos        País     Ano  Participações
0        5      Brasil  1958.0             15
1        2     Uruguai  1930.0             12
2        1  Inglaterra  1966.0             11
3        1     Espanha  2010.0             10
4        0     Holanda     NaN             10
5        4      Itália  1934.0              9
6        3   Argentina  1978.0             11

In [24]:
del dados['Participações']
print(dados)

   Titulos        País     Ano
0        5      Brasil  1958.0
1        2     Uruguai  1930.0
2        1  Inglaterra  1966.0
3        1     Espanha  2010.0
4        0     Holanda     NaN
5        4      Itália  1934.0
6        3   Argentina  1978.0

In [25]:
# drop
dados2 = dados.drop([4])
print(dados2)

   Titulos        País     Ano
0        5      Brasil  1958.0
1        2     Uruguai  1930.0
2        1  Inglaterra  1966.0
3        1     Espanha  2010.0
5        4      Itália  1934.0
6        3   Argentina  1978.0

In [26]:
dados2 = dados.drop([4, 3, 5])
print(dados2)

   Titulos        País     Ano
0        5      Brasil  1958.0
1        2     Uruguai  1930.0
2        1  Inglaterra  1966.0
6        3   Argentina  1978.0

In [27]:
dados.drop(4, inplace=True)
print(dados)

   Titulos        País     Ano
0        5      Brasil  1958.0
1        2     Uruguai  1930.0
2        1  Inglaterra  1966.0
3        1     Espanha  2010.0
5        4      Itália  1934.0
6        3   Argentina  1978.0

In [32]:
print(dados[1:5])

         País     Ano  Titulos
1     Uruguai  1930.0        2
2  Inglaterra  1966.0        1
3     Espanha  2010.0        1
4     Holanda     NaN        0

In [35]:
# Fatiamento com rótulos

dicionario={'País':['Brasil','Uruguai','Inglaterra','Espanha','Holanda','Itália','Argentina'],
           'Ano':[1958,1930,1966,2010,None,1934,1978],
           'Titulos':[5,2,1,1,0,4,3]
           }
dados = pd.DataFrame(dicionario, index=['a','b','c','d','e','f','g'])
print(dados)

print(dados['b':'e'])

         País     Ano  Titulos
a      Brasil  1958.0        5
b     Uruguai  1930.0        2
c  Inglaterra  1966.0        1
d     Espanha  2010.0        1
e     Holanda     NaN        0
f      Itália  1934.0        4
g   Argentina  1978.0        3
         País     Ano  Titulos
b     Uruguai  1930.0        2
c  Inglaterra  1966.0        1
d     Espanha  2010.0        1
e     Holanda     NaN        0

In [38]:
# Indexação com loc

print(dados.loc['b',['País', 'Titulos']])

País       Uruguai
Titulos          2
Name: b, dtype: object

In [41]:
# Indexação com iloc
print(dados.iloc[1,[0, 2]])

País       Uruguai
Titulos          2
Name: b, dtype: object

In [43]:
# loc e listas de rótulos

print(dados.loc[:'d','Ano'])

a    1958.0
b    1930.0
c    1966.0
d    2010.0
Name: Ano, dtype: float64

In [46]:
# Ordenação por índice
print(dados.sort_index())

# Ordenação por índice em ordem inversa
print(dados.sort_index(ascending=False))

         País     Ano  Titulos
g   Argentina  1978.0        3
f      Itália  1934.0        4
e     Holanda     NaN        0
d     Espanha  2010.0        1
c  Inglaterra  1966.0        1
b     Uruguai  1930.0        2
a      Brasil  1958.0        5
      Ano        País  Titulos
a  1958.0      Brasil        5
b  1930.0     Uruguai        2
c  1966.0  Inglaterra        1
d  2010.0     Espanha        1
e     NaN     Holanda        0
f  1934.0      Itália        4
g  1978.0   Argentina        3

In [48]:
# Ordenação por colunas
print(dados.sort_values(by='País'))

         País     Ano  Titulos
g   Argentina  1978.0        3
a      Brasil  1958.0        5
d     Espanha  2010.0        1
e     Holanda     NaN        0
c  Inglaterra  1966.0        1
f      Itália  1934.0        4
b     Uruguai  1930.0        2

In [50]:
# Ordenação por várias colunas
print(dados.sort_values(by=['Titulos','País']))

         País     Ano  Titulos
e     Holanda     NaN        0
d     Espanha  2010.0        1
c  Inglaterra  1966.0        1
b     Uruguai  1930.0        2
g   Argentina  1978.0        3
f      Itália  1934.0        4
a      Brasil  1958.0        5